[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agua"]
	path = agua
	url = https://github.com/tidymodels/agua
[submodule "applicable"]
	path = applicable
	url = https://github.com/tidymodels/applicable
[submodule "baguette"]
	path = baguette
	url = https://github.com/tidymodels/baguette
[submodule "bonsai"]
	path = bonsai
	url = https://github.com/tidymodels/bonsai
[submodule "broom"]
	path = broom
	url = https://github.com/tidymodels/broom
[submodule "brulee"]
	path = brulee
	url = https://github.com/tidymodels/brulee
[submodule "butcher"]
	path = butcher
	url = https://github.com/tidymodels/butcher
[submodule "censored"]
	path = censored
	url = https://github.com/tidymodels/censored
[submodule "corrr"]
	path = corrr
	url = https://github.com/tidymodels/corrr
[submodule "desirability2"]
	path = desirability2
	url = https://github.com/tidymodels/desirability2
[submodule "dials"]
	path = dials
	url = https://github.com/tidymodels/dials
[submodule "discrim"]
	path = discrim
	url = https://github.com/tidymodels/discrim
[submodule "embed"]
	path = embed
	url = https://github.com/tidymodels/embed
[submodule "filtro"]
	path = filtro
	url = https://github.com/tidymodels/filtro
[submodule "finetune"]
	path = finetune
	url = https://github.com/tidymodels/finetune
[submodule "hardhat"]
	path = hardhat
	url = https://github.com/tidymodels/hardhat
[submodule "infer"]
	path = infer
	url = https://github.com/tidymodels/infer
[submodule "modeldata"]
	path = modeldata
	url = https://github.com/tidymodels/modeldata
[submodule "modeldatatoo"]
	path = modeldatatoo
	url = https://github.com/tidymodels/modeldatatoo
[submodule "modeldb"]
	path = modeldb
	url = https://github.com/tidymodels/modeldb
[submodule "modelenv"]
	path = modelenv
	url = https://github.com/tidymodels/modelenv
[submodule "multilevelmod"]
	path = multilevelmod
	url = https://github.com/tidymodels/multilevelmod
[submodule "orbital"]
	path = orbital
	url = https://github.com/tidymodels/orbital
[submodule "parsnip"]
	path = parsnip
	url = https://github.com/tidymodels/parsnip
[submodule "plsmod"]
	path = plsmod
	url = https://github.com/tidymodels/plsmod
[submodule "poissonreg"]
	path = poissonreg
	url = https://github.com/tidymodels/poissonreg
[submodule "probably"]
	path = probably
	url = https://github.com/tidymodels/probably
[submodule "recipes"]
	path = recipes
	url = https://github.com/tidymodels/recipes
[submodule "rsample"]
	path = rsample
	url = https://github.com/tidymodels/rsample
[submodule "rules"]
	path = rules
	url = https://github.com/tidymodels/rules
[submodule "shinymodels"]
	path = shinymodels
	url = https://github.com/tidymodels/shinymodels
[submodule "sparsevctrs"]
	path = sparsevctrs
	url = https://github.com/r-lib/sparsevctrs
	registered = false
[submodule "spatialsample"]
	path = spatialsample
	url = https://github.com/tidymodels/spatialsample
[submodule "stacks"]
	path = stacks
	url = https://github.com/tidymodels/stacks
[submodule "tailor"]
	path = tailor
	url = https://github.com/tidymodels/tailor
	registered = false
[submodule "textrecipes"]
	path = textrecipes
	url = https://github.com/tidymodels/textrecipes
[submodule "themis"]
	path = themis
	url = https://github.com/tidymodels/themis
[submodule "tidyclust"]
	path = tidyclust
	url = https://github.com/tidymodels/tidyclust
[submodule "tidymodels"]
	path = tidymodels
	url = https://github.com/tidymodels/tidymodels
[submodule "tidyposterior"]
	path = tidyposterior
	url = https://github.com/tidymodels/tidyposterior
[submodule "tidypredict"]
	path = tidypredict
	url = https://github.com/tidymodels/tidypredict
[submodule "tune"]
	path = tune
	url = https://github.com/tidymodels/tune
[submodule "usemodels"]
	path = usemodels
	url = https://github.com/tidymodels/usemodels
[submodule "workflows"]
	path = workflows
	url = https://github.com/tidymodels/workflows
[submodule "workflowsets"]
	path = workflowsets
	url = https://github.com/tidymodels/workflowsets
[submodule "yardstick"]
	path = yardstick
	url = https://github.com/tidymodels/yardstick
